 body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
}

.feed {
    flex: 0.4;
    /* border-right: lightgray 1px solid; */
    /* min-width: fit-content; */
    overflow-y: scroll !important;
    width: 600px;
    height: 100vh;
  }
  .feed__header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid lightgray;
    padding: 15px 20px;
  }
  .feed::-webkit-scrollbar {
    display: none;
  }

  .feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }


  .feed__header > h2 {
    font-size: 20px;
    font-weight: 700;
  } 