.post__body > img {
    border-radius: 20px;
    width: 100%;
  }
  .post {
    display: flex;
    align-items: flex-start;
    border: 1px solid lightgray;
  }
  .post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .post__badge {
    font-size: 14px !important;
    color: var(--twitter-color);
  }
  .post__headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: gray;
  }
  .post__headerText > h3 {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .post__headerDescription {
    font-size: 15px;
    margin-bottom: 20px;
    color: black;
  }
  .post__body {
    flex: 1;
    padding: 10px;
  }
  .post__avatar {
    padding: 20px;
  }

  #post__button {
    /* border: none !important; */
    /* font-weight: 700 !important; */
    /* border-radius: 20px !important; */
    margin-left: auto !important;
  }

  .input{
    font-size: 15px;
    margin-bottom: 20px;
  }
  .input > input:focus {
    
    border-bottom: 1px solid gray;
    outline: none;
  }

  .input > input {
    flex: 1;
    /* margin-left: 20px; */
    /* font-size: 10px; */
    border: none;
    width:90%;
  }

  .material-icons{
    justify-content: space-around;
    padding-right: 35px;
    padding-left: 35px;
    /* padding: 50px; */
  }
  /* .tweetBox__input {
    display: flex;
    padding: 20px;
  }
  .tweetBox__input > input {
    flex: 1;
    margin-left: 20px;
    font-size: 10px;
    border: none;
  }
  .tweetBox__input > input:focus {
    outline: none;
  } */


  .post__headerText img {
    border-radius: 50%;
    height: 40px;
  }