/* .tweetBox {
    padding-bottom: 30px;
    border: 1px solid lightgray;
    border-bottom: 6px solid lightgray;
    padding-right: 10px;
  }
  .tweetBox > form {
    display: flex;
    flex-direction: column;
  }
  .tweetBox__input {
    display: flex;
    padding: 20px;
  }
  .tweetBox__input > input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
  }
  .tweetBox__input > input:focus {
    outline: none;
  }
  #tweetBox__button {
    border: none !important;
    font-weight: 700 !important;
    border-radius: 20px !important;
    margin-left: auto !important;
  } */

  body {
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
  }
  
  /* TweetBox */
  .tweetbox__input img {
    border-radius: 50%;
    height: 40px;
  }
  
  .tweetBox {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;
    border-radius: 2px;
  }

  .tweetBox form {
    display: flex;
    flex-direction: column;
  }

  .tweetbox__input {
    display: flex;
    padding: 20px;
  }
  
  .tweetbox__input input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
  }
  .tweetBox__tweetButton {
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
  
    border-radius: 30px;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
  }  
